title{
    font: bold;
}
h1{
    color: blueviolet;
    font-family: Arial;
    font: bold;
}
h2{
    font: italic;
    color: blueviolet;
    font-family: cursive;
    text-align: center;
}
.search-container{
    position: relative;
    width: 300px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}