.category-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.category-text {
  position: relative;
  color: white;
  text-align: center;
  font-size: xx-large;
  z-index: 2;
  padding: 0 10px;
}