.category-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1200px;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    
    filter: brightness(100%) contrast(70%) sepia(20%);
  }
  
  .category-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }

  .category-text {
    margin-top: 80px;
    color:#000;
    text-align: center;
    font-size: xx-large;
  }

  
