/* src/pages/ContactSeller.css */

.contact-seller-container {
    text-align: center;
    padding: 20px;
  }

  
  .contact-form {
    max-width: 500px;
    margin: 30px auto;
    text-align: left;
    background-color:whitesmoke;
    padding:20px;
    border-radius: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;

  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .contact-form button {
    
    width: 100%;
    background-color: #6d28d9;
    color: white;
    font-weight: 700;
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }