/*File: MiddleSection.css
  * Description: CSS file for the MiddleSection component
  * Contains CSS styling for the MiddleSection component
 */

 /* MiddleSection with just purpul color box */
.middle-section {
    flex-grow: 1; 
    padding:50px;
    min-height: calc(100vh - 180px);
    background-color:#e2cbf3;
  
  }